#botones{
    grid-area: botones;
    background-color: $info;
    text-align: center;
    padding: 1rem;
}

.boton{
    width: 100%;
    @include setflex(row, space-evenly, space-around);
    align-items: flex-start;

    li{
        a{
         @include setTittle('Lexend Deca', nth($listfonts, 3), 300);;
         color:darkorange;
         margin: 5%;

        &:hover{
        color: $light;
    }
        }
    }
}

button{
    width: 15%;
    @include setflex(row, space-evenly, space-around);
    align-items: flex-start;
    color:darkorange;
    cursor:pointer;
}